/* Los estilos de tu proyecto */
* {
  font-family: 'Raleway', sans-serif;
}

/* Section encabezado */


/* Section Home */
.row-home {
  background-image: url(../assets/images/taxi.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

.article-home {
  background-color: #f7b617;
  height: 245px;
  /* margin-top: 100%; */
  width: 330px;
}

h1 {
  color: #fff;
}

.logo-home {
  height: 20px;
}

.btn-download-app {
  font-weight: bolder;
  border-color: #fff;
  color: black;
}


/* Section App */
.row-app {
  background-color: #f7b617;
  color: #fff;
}

.box-app {
  border-color: #fff;
}

/* Section Conduce */
.row-drive {
  background-image: url(../assets/images/conduce.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
}

/* Section Tarifas */
.row-rate {
  background-color: #f7b617;
  color: #fff;
  height: 100vh;
}


/* Section Footer */
.section-footer {
  background-color: #2b2b2b;
  color: #fff;
}

h5 a {
  color: #fff;
  text-decoration: none;
}

h5 a:hover {  
  text-decoration: #f7b617;
  color: #f7b617;
  transition: 2s;
}
.fa:hover {
  cursor: pointer;
  color: #f7b617;
  transform-style: preserve-3d;
}
.go-market {
  cursor: pointer;  
}